.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px
}

.logo{
    color:rgb(0, 255, 195);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display:flex;
    justify-content:center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left:62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color:rgb(1, 93, 1);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:rgb(22, 106, 1);
}

*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}

body{
    width: 100vw;
    height: 100vh;
    background: #06a852;
    padding-top: 50px ;
}
h1{
    color:#fff;
    font-size: 45px;
    margin-top: 10px;
}
.row
{
    padding-top: 50px;
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box
{
    width: 320px;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;
}
.box img{
    width: 250px;
}
.box h3
{
    font-size: 25px;
    padding-top: 20px;
    color: #054d26;
}
